.logo-icons {
    background-image: url("../img/Фон-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Ubuntu', sans-serif;
    height: 100vh;
}

.logo-icons nav {
    display: block;
    position: relative;
    width: 100%;
    height: 59px;
    background: rgba(0, 0, 0, 0.4);
}

.brand-logo {
    position: absolute;
    margin: 0;
    left: 81px;
    bottom: 21px;

    font-weight: bold;
    color: white;
    font-size: 20px;
    line-height: 21px;
}

.brand-logo:hover {
    color: #3CB878;
    transition: 0.5s;
}

.icons {
    position: absolute;
    margin: 0;
    bottom: 19px;
    right: 322px;
}

.Vector {
    display: inline-block;
    position: relative;
    width: 22px;
    height: 25px;
    margin-right: 28px;
    background: url(../svg/header-icons.svg) -3px 0;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.Vector1 {
    display: inline-block;
    position: relative;
    width: 24px;
    height: 25px;
    margin-right: 28px;
    background: url(../svg/header-icons.svg) -50px 0;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.Vector2 {
    display: inline-block;
    position: relative;
    width: 23px;
    height: 24px;
    background: url(../svg/header-icons.svg) -98px 0;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.Vector2:hover {
    display: inline-block;
    position: relative;
    width: 23px;
    height: 24px;
    background: url(../svg/header-icons-1.svg) -98px 0;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.Vector1:hover {
    display: inline-block;
    position: relative;
    width: 24px;
    height: 25px;
    margin-right: 28px;
    background: url(../svg/header-icons-1.svg) -50px 0;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.Vector:hover {
    display: inline-block;
    position: relative;
    width: 22px;
    height: 24px;
    margin-right: 28px;
    background: url(../svg/header-icons-1.svg) -6px 0;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.authorize {
    position: absolute;
    margin: 0;
    right: 71px;
    bottom: 21px;

    color: white;
    font-size: 14px;
}

.authorize a {
    color: white;
    font-size: 14px;
}

.authorize a:hover {
    color: #3CB878;
}

.authorize span {
    font-family: Verdana, sans-serif;
    display: inline-block;
    margin-left: 9px;
    font-size: 14px;
}

.sign-up {
    margin: 0 auto;
    position: relative;
    top: 54px;
    width: 444px;
    height: 584px;
    text-align: center;
    background-color: #3CB878;
    box-shadow: -426px 29px 0 0 #FFFFFF inset,
    0 -537px 0 0 #FFFFFF inset;
}

.form-title {
    position: absolute;
    margin: 0;
    left: 61px;
    top: 29px;
    font-size: 20px;
    line-height: 13.5px;
}

.logo-in-link {
    position: absolute;
    margin: 0;
    right: 59px;
    top: 30px;
    font-size: 14px;
    color: #3CB878;
}

.facebook-btn {
    box-sizing: border-box;
    position: absolute;
    top: 62px;
    left: 61px;
    width: 156px;
    height: 46px;
    background-color: #305DB8;
    border: none;
    border-radius: 3px;
    padding: 0;
}

.facebook-btn p {
    font-size: 16px;
    color: white;
    border-left: 1px solid #2C56AA;
    padding: 4px 0 4px 22px;
    margin: 0;
    position: absolute;
    left: 48px;
    top: 9px;
}

.facebook-btn::after {
    content: url("../img/f1.png");
    position: absolute;
    top: 10px;
    left: 20px;
}

.facebook-btn:hover {
    background-color: #3f78ea;
}

.Google-btn {
    box-sizing: border-box;
    position: absolute;
    top: 62px;
    right: 59px;
    width: 156px;
    height: 46px;
    background-color: #DF4A32;
    border: none;
    border-radius: 3px;
    padding: 0;
}

.Google-btn p {
    font-size: 16px;
    color: #FFFFFF;
    border-left: 1px solid #CD442E;
    padding: 4px 0 4px 30px;
    margin: 0;
    position: absolute;
    left: 48px;
    top: 9px;
}

.Google-btn::after {
    content: url("../img/G+.png");
    position: absolute;
    top: 13px;
    left: 14px;
}

.or-option {
    position: absolute;
    top: 139px;
    right: 216px;
    margin: 0;
    color: #848484;
}

.Google-btn:hover {
    background-color: #f83313;
}

.input-field {
    position: absolute;
    left: 61px;
    width: 304px;
    height: 46px;
    border: 1px solid rgb(240, 240, 240);
    padding: 0 0 0 18px;
    font-size: 14px;
}

.name-input {
    top: 167px;
}

.last-name-input {
    top: 231px;
}

.email-input {
    top: 286px;
}

.create-password-input {
    top: 341px;
}

.confirm-password-input {
    top: 396px;
}

.input-field:focus {
    color: #434343;
    outline: none;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 4px 8px 1px #D5D5D5;
}

.terms-conditions {
    position: absolute;
    top: 461px;
    left: 62px;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.custom-checkbox {
    position: absolute;
    top: 461px;
    left: 62px;
    height: 20px;
    width: 20px;
    border: 1px solid rgb(240, 240, 240);
    outline: none;
}

.terms-conditions:checked ~ .custom-checkbox:after {
    content: "";
    position: absolute;
    width: 9px;
    height: 15px;
    border: solid #3CB878;
    border-width: 0 2px 2px 0;
    transform: rotate(50deg) skewX(20deg);
    top: -2px;
    left: 5px;
}

.terms-conditions + label {
    position: absolute;
    top: 464px;
    left: 92px;
    font-size: 14px;
    cursor: pointer;
}

.terms-n-cond-link {
    color: #3CB878;
}

.sumbit-btn {
    position: absolute;
    left: 62px;
    top: 506px;
    width: 322px;
    height: 46px;
    border: none;
    color: white;
    background-color: #3CB878;
    transition: 0.2s ease all;
}

.sumbit-btn:hover {
    cursor: pointer;
    box-shadow: 0 4px 17px -5px #287b50 inset;
    padding-top: 4px;
    transition: 0.1s ease all;
}

.sumbit-btn:active {
    cursor: pointer;
    background-color: #298455;
    padding-top: 4px;
    transition: 0.1s ease all;
}

