@import "variables";
@import "mixins";

html {
  height: 100%;
  box-sizing: border-box;
  font-size: 14px;
}

*, :after, :before {
  box-sizing: inherit;
}

body {
  color: $textColorLightGrey;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  overflow-x:hidden
}

.container {
  min-width: 320px;
  max-width: 1200px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}


@import "sections/page-header";
@import "sections/banner";
@import "sections/revol-editor";
@import "sections/what-you-get";
@import "sections/testimonials";
@import "sections/pricing";
