body {
    font-family: 'Open Sans', sans-serif;
}

.nav-container {
    display: flex;
    justify-content: center;
}

.nav-elements {
    background: #313131;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 1900px;
    height: 70px;
}

.logo-container {
    flex-basis: 177px;
    flex-shrink: 0;
}

.logo-img-container {
    display: inline-block;
    width: 27px;
    height: 27px;
    background-image: url("../image/logo-img1.png");
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin: 22px;
}

.company-name {
    display: inline-block;
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 700;
    text-decoration: none;
    margin: 0;
    vertical-align: middle;
}

.link-container {
    display: flex;
    justify-content: space-around;
    flex-flow: row nowrap;
    padding: 0;
    flex-basis: 722px;
    flex-shrink: 0.8;
}

.link-container a {
    color: #FFFFFF;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
}
.link-container a:hover{
    color: #14B9D5;
}

.search-button-container {
    display: flex;
    width: 68px;
    height: 70px;
    background-color: #000000;
    align-items: center;
    justify-content: center;
    flex-basis: 68px;
    flex-shrink: 0;
}

.lates-news {
    display: flex;
    justify-content: center;
}

.lates-news-container {
    display: flex;
    flex-basis: 1900px;
    height: 374px;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 1;

    background: url("../image/1.png");
    background-repeat: no-repeat;
    background-position: 50% 150%;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.lates-news-container::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.31);
    position: absolute;
    z-index: -1;
}

.lates-news .section-headline {
    font-size: 27px;
    flex-basis: 100%;
    color: white;
    text-align: center;
    margin-bottom: 44px;
}

.button-container button {
    width: 170px;
    height: 55px;
    margin: 0 8px;
    outline: none;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}

.subscribe {
    background-color: #89ca62;
}

.articles {
    background-color: #14B9D5;
}

.most-flex {
    display: flex;
    justify-content: center;
}

.post-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    flex-basis: 1900px;
    background-color: #F2F2F2;
    padding-top: 50px;
}

.post-container .most-posts {
    text-align: center;
    font-size: 27px;
    font-weight: bold;
    color: #18B4CF;
    text-transform: uppercase;
    margin: 0 0 52px 0;
    flex: 100%;
}

.flex-column {
    justify-content: center;
    margin: 0 16px;
    margin-bottom: 42px;
}

.post {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    flex-basis: 370px;
    background-color: white;
    margin-bottom: 30px;
}

.post .post-image {
    width: 370px;
    height: auto;
}

.post .post-description {
    padding: 18px;
    font-weight: bold;
    font-size: 18px;
    color: #353A3D;
}

.popular-clients {
    display: grid;
    justify-content: center;
    margin-bottom: 50px;
}

.popular-clients .grid-container {
    display: grid;
    width: 1900px;
    height: 600px;
    grid-column-gap: 75px;
    grid-row-gap: 105px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "header header header header"
     "national-post dryme house journy";
    justify-content: center;
    align-content: center;
    align-items: center;

    background: url("../image/2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.popular-clients h3 {
    text-align: center;
    grid-area: header;
    font-size: 32px;
    color: white;
    text-transform: uppercase;
    margin: 0;
    position: relative;
    font-weight: 700;
}

.popular-clients h3::after {
    content: "";
    position: absolute;
    top: 85px;
    left: 444px;
    width: 60px;
    height: 3.5px;
    background-color: #18B4CF;
}

.national-post {
    grid-area: national-post;
    width: 207px;
    height: 28px;
    background: url("../image/Post-logo/nationalpost.png");
}

.dryme {
    grid-area: dryme;
    width: 135px;
    height: 49px;
    background: url("../image/Post-logo/dryme.png");
}

.house {
    grid-area: house;
    width: 232px;
    height: 51px;
    background: url("../image/Post-logo/houshome.png");
}

.journy {
    grid-area: journy;
    width: 141px;
    height: 52px;
    background: url("../image/Post-logo/journy.png");
}

.top-rated {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 60px;
    background-color: #FFFFFF;
}

.top-rated .grid-container {
    display: grid;
    grid-row-gap: 52px;
    justify-content: center;
    align-items: center;
}

.top-rated .section-header {
    grid-area: 1 /span 7;
    text-align: center;
    color: #18B4CF;
    font-size: 27px;
    text-transform: uppercase;
}

.hot-news {
    width: 100%;
    height: 1683px;
}

.hot-news .grid-container {
    display: grid;
    margin: 0 auto;
    width: 100%;
    grid-row-gap: 51px;
    grid-template-columns: 1170px;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "heading" "first-row"
    "second-row" "third-row";
    justify-content: center;
    align-content: center;
    align-items: flex-start;
}

.hot-news h3 {
    padding: 0 24px;
    font-size: 18px;
    margin: 0;
    font-weight: 700;
}

.hot-news p {
    padding: 0 24px;
    font-size: 14px;
    line-height: 21px;
    margin: 0;
    font-weight: 600;
}

.hot-news .section-header {
    grid-area: heading;
    justify-self: center;
    width: 300px;
    text-align: center;
    color: #18B4CF;
    font-size: 27px;
    text-transform: uppercase;
}

.description {
    display: grid;
    width: 856px;
    height: 259px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "image heading"
    "image description";
    grid-row-gap: 18.5px;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background: #F9F7F7;
}

.description img {
    grid-area: image;
    width: 483px;
}

.description h3 {
    grid-area: heading;
    padding: 0 24px;
    text-align: right;
    align-self: flex-end;
}

.description p {
    grid-area: description;
    text-align: right;
    align-self: flex-start;
}

.small {
    display: grid;
    width: 277px;
    height: 258px;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "image" "heading";
    grid-row-gap: 15px;
    justify-content: space-between;
    align-content: flex-start;
    align-items: center;
    background: #F9F7F7;
}

.small h3 {
    grid-area: heading;
    justify-self: center;
}

.description-second {
    display: grid;
    width: 554px;
    height: 418px;
    grid-template-columns: 554px;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "image" "heading"
    "description";
    grid-row-gap: 18px;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background: #F9F7F7;
}

.description-second h4 {
    grid-area: heading;
    justify-self: flex-end;
}

.description-second p {
    grid-area: description;
    align-self: flex-end;
    text-align: end;
    padding-left: 12px;
    padding-bottom: 12px;
}

.hot-news .first-row {
    grid-area: first-row;
    justify-content: space-between;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, auto);
}

.hot-news .second-row {
    grid-area: second-row;
    display: grid;
    width: 100%;
    justify-content: space-between;
    grid-row-gap: 44px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
}

.hot-news .third-row {
    display: grid;
    grid-area: third-row;
    width: 100%;
    justify-content: space-between;
    grid-template-columns: repeat(2, auto);
}

footer {
    display: grid;
    height: 80px;
    justify-content: center;
}

.footer-container {
    padding: 0 350px;
    display: grid;
    width: 1929px;
    margin: 0 auto;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color: black;
}

.footer-container p {
    color: white;
    font-size: 13px;
    margin: 0;
    margin-left: 20px;
}

.logo-footer {
    position: relative;
    width: 105px;
    height: 24px;
}

.logo-footer::before {
    content: "";
    position: absolute;
    width: 38px;
    height: 24px;
    background-image: url("../image/Logo-footer/Vector-Smart.png");
}

.logo-footer::after {
    content: "";
    position: absolute;
    width: 64px;
    height: 16px;
    left: 41px;
    background-image: url("../image/Logo-footer/liot.png");
}