a {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px; /* размер шрифта */
    font-weight: bold;
    list-style-type: none;
    position: center;
    text-transform: uppercase;
    padding: 30px;
    background: white; /* Цвет фона веб-страницы */
    display: inline-block;
    text-decoration: none; /* Убираем подчёркивание */
    color: red; /* Цвет ссылок */
}

.main-content{
    padding: 0 30px;
    margin: 5px 120px;
}

.header{
    margin: 0 auto;
}

p{
    margin-top: 40px;
    font-family: 'Montserrat', sans-serif;
}
h2 {
    font-family: 'Montserrat', sans-serif; /* семейство шрифта */
    font-weight: bold;
    font-size: 20px;   /* размер шрифта */
    line-height: 125%; /* междустрочный интервал */
    color: #373737;
    margin-top: 40px;    /* цвет шрифта */
}
body {
    font-family: 'Montserrat', sans-serif; /* семейство шрифта */
    font-size: 18px; /* размер шрифта */
    line-height: 125%; /* междустрочный интервал */
    color: #000000; /* цвет шрифта */
    text-align: center; /* Выравнивание по центру */
    padding: 0;
    margin: 0;
}
.dws{
    padding: 40px;
    position: center;
    margin: 50px;
}
.butt{
    color: #fff; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: #FF0000; /* фон кнопки */
    padding: .8em 1.8em; /* отступ от текста */
}

footer{
    padding: 30px;
    text-align: right;
}

footer p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
}