a {
    text-decoration: none;
    color: white;
    font-weight: bold
}

.common-styles {
    font-family: 'Arimo', sans-serif;
    color: #484848;
    text-transform: uppercase;
    text-align: center
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto
}

.link {
    text-decoration: none;
    color: #FFFFFF
}

.fas, .far {
    color: #848484;
    margin-right: 4px
}

.pricing-table, .pricing-table-2 {
    margin-top: 30px;
    border: 22px solid #3A4965;
    border-collapse: collapse;
    background: #FAFAFA;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.27)
}

.pricing-table--bandwidth, .pricing-table--support, .pricing-table--users {
    background: #E3E3E3
}

.pricing-table--storage, .pricing-table--email, .pricing-table--products {
    background: #F2F2F2
}

.pricing-table-footer :nth-child(1) {
    background: #DDDDDD
}

.pricing-table-footer :nth-child(2n) {
    background: #F2F2F2
}

.pricing-table-heading, .pricing-table-heading-cell, .pricing-table-footer, .pricing-table-footer-cell, .pricing-table-body, .pricing-table-body-cell {
    border: 1px solid #D3D3D3;
    height: 72px
}

.pricing-table-header {
    line-height: 28px;
    font-weight: bold
}

.pricing-table-header-cell--pricing-plan {
    max-width: 242px;
    display: block
}

.pricing-table-header :nth-child(1) {
    height: 160px
}

.pricing-plan {
    font-weight: bold;
    font-size: 60px;
    padding: 12px 31px 6px 31px
}

.pricing-plan-2 {
    font-weight: bold;
    font-size: 36px;
    padding: 0 0 45px 0
}

.color1 {
    background: #89C331;
    border: 1px solid #89C331;
    color: white;
    line-height: 35px;
    padding: 0 0 20px 0
}

.color2 {
    background: #F04A56;
    border: 1px solid #F04A56;
    color: white;
    line-height: 35px;
    padding: 0 0 15px 0
}

.color3 {
    background: #20807C;
    border: 1px solid #20807C;
    color: white;
    line-height: 35px;
    padding: 0 0 20px 0
}

.pricing-plan-wrapper {
    text-align: left;
    display: inline-block;
    margin: 0;
    vertical-align: super
}

.pricing-plan-cents {
    font-size: 24px;
    display: block
}

.pricing-plan-duration {
    font-weight: normal;
    font-size: 18px;
    display: block
}

.pricing-table-header :not(:nth-child(1)) {
    color: #FFFFFF
}

.pricing-table-header :nth-child(1) {
    font-size: 18px
}

.pricing-table-header :nth-child(1) > .pricing-table-header-cell--pricing-plan {
    padding-left: 35px;
    padding-right: 35px;
    font-size: 30px;
    color: #484848;
    background: none
}

.pricing-table-header :nth-child(2) {
    font-size: 24px;
    background: #89C331
}

.pricing-table-header :nth-child(3) {
    font-size: 30px;
    background: #F04A56
}

.pricing-table-header :nth-child(4) {
    font-size: 24px;
    background: #20807C
}

.pricing-table-footer {
    height: 109px
}

.pricing-table-footer-link {
    padding: 18px 58px;
    text-align: center;
    border-radius: 10px
}

.pricing-table-footer :nth-child(1) > .pricing-table-footer-link {
    background: #484848;
    padding: 18px 45px;
    border-radius: 7px;
    font-size: 16px;
    text-decoration: none;
    box-shadow: 0 6px 0 #404040
}

.pricing-table-footer :nth-child(2) > .pricing-table-footer-link {
    background: #89C331;
    padding: 18px 45px;
    border-radius: 7px;
    font-size: 16px;
    text-decoration: none;
    box-shadow: 0 6px 0 #79B027
}

.pricing-table-footer :nth-child(3) > .pricing-table-footer-link {
    background: #F04A56;
    padding: 18px 45px;
    border-radius: 7px;
    font-size: 16px;
    text-decoration: none;
    box-shadow: 0 6px 0 #DF3A46
}

.pricing-table-footer :nth-child(4) > .pricing-table-footer-link {
    background: #20807C;
    padding: 18px 45px;
    border-radius: 7px;
    font-size: 16px;
    text-decoration: none;
    box-shadow: 0 6px 0 #16736F
}

.price {
    color: white;
    font-size: 24px;
    margin: 0;
    padding-top: 15px
}

.pricing-table-2 {
    max-width: 1200px;
    background: #F2F2F2;
    margin-bottom: 30px
}

.pricing-table-header-icon {
    display: block
}

.pricing-table-2-header-title--pricing-plan {
    padding-left: 20px;
    padding-right: 20px
}

.plan {
    font-size: 20px
}

#background1, #background2, #background3, #background4, #background5, #background6 {
    background: none
}

.pricing-table-header-title {
    margin: 0;
    padding-top: 5px
}

#container-btn1 {
    background: none;
    margin: 0 auto;
    line-height: 53px
}

#container-btn2 {
    background: none;
    margin: 0 auto;
    line-height: 53px
}

#container-btn3 {
    background: none;
    margin: 0 auto;
    line-height: 53px
}

.buy-now {
    background: #414141;
    border-radius: 7px;
    font-size: 16px;
    padding: 10px 30px;
    text-decoration: none;
    color: white;
    box-shadow: 0 5px 0 #343434
}


.pricing-table-2-header p :nth-child(even) {
    background-color: white
}

.pricing-table-2-header :nth-child(even), .pricing-table-2-body :nth-child(even) {
    background: #E3E3E3;
    width: 157px
}

.pricing-table-2-header {
    height: 115px
}

.pricing-table-2-body {
    height: 164px;
    border: solid 1px #D3D3D3
}

.pricing-table-2-body-cell .pricing-plan-2 {
    width: 198px
}

.pricing-table-2-header {
    border: 13px solid #3A4965
}

.pricing-plan-2-cents {
    font-size: 18px;
    vertical-align: super
}

.pricing-plan-2-duration {
    font-size: 14px;
    vertical-align: super;
    background: none
}

.pricing-plan-2-body :nth-child(1) {
    background: #89C331;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.27)
}

.pricing {
    line-height: 24px
}