.testimonials {
  background: url("../img/testmonials-bg-320.png"), linear-gradient(#4b3b4e, #4b3b4e), no-repeat, center;
  background-size: cover;
  padding-top: 61px;
  padding-bottom: 45px;

  &__title {
    color: #ffffff;
    @include montserratBold;
    font-size: 2.57em;
    padding-bottom: 49px;
    text-align: center;
  }

  &__item {
    text-align: center;
  }

  &__logo {
    padding-bottom: 35px;
  }

  &__comments {
    font-size: 1.14em;
    font-family: Lato;
    font-weight: 700;
    font-style: italic;
    color: #ffffff;
    line-height: 1.7;
  }

  &__text {
    display: none;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 46px;
  padding: 0 15px;
  position: relative;
}

.separator {
  height: 2px;
  width: 90%;
  margin: 44px auto 0;
  background-color: $themeColor;
}

@media screen and (min-width: 481px) {
  .testimonials {
    background: url("../img/testimonials-fon-768.png"), linear-gradient(#4b3b4e, #4b3b4e), no-repeat, center;
    padding-top: 80px;
    background-size: cover;

    &__title {
      font-size: 3em;
      padding-bottom: 95px;
    }

    &__logo {
      padding-bottom: 35px;
      padding-top: 20px;

      &--layout-item2 {
        padding-top: 12px;
      }

      &--layout-item3 {
        padding-bottom: 20px;
        padding-top: 10px;
      }

      &--layout-item4 {
        padding-top: 35px;
      }
    }

    &__text {
      display: block;
      text-align: center;
      color: #a291a5;
      opacity: 0.8;
      font-family: Lato;
      font-weight: 400;
      padding: 60px 40px 0;
    }
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    padding: 0 15px;
    position: relative;
  }
}

.separator {
  margin: 20px auto 0;
}

@media screen and (min-width: 992px) {
  .testimonials {
    background: url("../img/testmonials-bg.png"), linear-gradient(#4b3b4e, #4b3b4e), no-repeat, center;
    padding-top: 98px;
    background-size: cover;

    &__title {
      font-size: 3.42em;
      padding-bottom: 85px;
    }

    &__logo {
      padding-bottom: 35px;
      padding-top: 20px;

      &--layout-item2 {
        padding-top: 12px;
        padding-bottom: 37px;
      }

      &--layout-item3 {
        padding-bottom: 25px;
        padding-top: 10px;
      }

      &--layout-item4 {
        padding-top: 25px;
        padding-bottom: 40px;
      }
    }

    &__text {
      padding: 118px 140px 0;
    }
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 0 15px;
    position: relative;
    grid-column-gap: 120px;
    grid-row-gap: 100px;
  }
  .separator {
    width: 55%;
  }
}
