* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #111111;
    color: #ffbe00;
    font-family: sans-serif;
    font-size: 5vw;
    line-height: 1.3;
    overflow: hidden;
}

body::after {
    content: '';
    position: fixed;
    top: 0;
    width: 100%;
    height: 3%;
    background: linear-gradient(180deg, rgb(17, 17, 17) 40%, rgba(0, 0, 0, 0) 100%);
}

.container {
    margin: 0 auto;
    perspective: 380px;
    perspective-origin: bottom;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: visible;
    transform: scaleY(0.9);
}

.credits {
    position: absolute;
    top: 0;
    left: 17%;
    right: 14%;
    height: 100%;
    animation: scroll 30s infinite;
    transition-timing-function: ease-in-out;
}

.headings {
    margin-bottom: 5rem;
}

h1 {
    font-size: 5vw;
    text-align: center;
    padding: 5.5rem 0;
}

h2 {
    font-size: 5vw;
    text-transform: uppercase;
    text-align: center;
}

p {
    padding: 5.5rem 0;
}

@keyframes scroll {
    0% {
        transform: rotateX(20deg) translate3d(0, 100rem, 0);
        opacity: 1;
    }
    85% {
        opacity: 1;
    }
    100% {
        transform: rotateX(20deg) translate3d(0, -430rem, 0);
        opacity: 0;
    }

}

